[
    {
        "scope": "https://dev.azure.com:443",
        "method": "GET",
        "path": "/sjellis/sje-ado-labs/_apis/pipelines?api-version=6.1-preview.1",
        "body": "",
        "status": 200,
        "response": {
            "count": 2,
            "value": [
                {
                    "_links": {
                        "self": {
                            "href": "https://dev.azure.com/sjellis/83cd6f64-aa0d-4908-b163-3e3136cf8a97/_apis/pipelines/23?revision=1"
                        },
                        "web": {
                            "href": "https://dev.azure.com/sjellis/83cd6f64-aa0d-4908-b163-3e3136cf8a97/_build/definition?definitionId=23"
                        }
                    },
                    "url": "https://dev.azure.com/sjellis/83cd6f64-aa0d-4908-b163-3e3136cf8a97/_apis/pipelines/23?revision=1",
                    "id": 23,
                    "revision": 1,
                    "name": "multiplicity",
                    "folder": "\\Infrastructure"
                },
                {
                    "_links": {
                        "self": {
                            "href": "https://dev.azure.com/sjellis/83cd6f64-aa0d-4908-b163-3e3136cf8a97/_apis/pipelines/9?revision=3"
                        },
                        "web": {
                            "href": "https://dev.azure.com/sjellis/83cd6f64-aa0d-4908-b163-3e3136cf8a97/_build/definition?definitionId=9"
                        }
                    },
                    "url": "https://dev.azure.com/sjellis/83cd6f64-aa0d-4908-b163-3e3136cf8a97/_apis/pipelines/9?revision=3",
                    "id": 9,
                    "revision": 3,
                    "name": "nuklear",
                    "folder": "\\Infrastructure"
                }
            ]
        },
        "rawHeaders": [
            "no-cache, no-store, must-revalidate",
            "no-cache",
            "856",
            "Content-Type",
            "application/json; charset=utf-8; api-version=6.1-preview.1",
            "-1",
            "CP=\"CAO DSP COR ADMa DEV CONo TELo CUR PSA PSD TAI IVDo OUR SAMi BUS DEM NAV STA UNI COM INT PHY ONL FIN PUR LOC CNT\"",
            "VstsSession=%7B%22PersistentSessionId%22%3A%22db9aae86-686d-457d-a0b6-a8661eface3b%22%2C%22PendingAuthenticationSessionId%22%3A%2200000[...]
