[
    {
        "scope": "https://vsrm.dev.azure.com:443",
        "method": "GET",
        "path": "/sjellis/sje-ado-labs/_apis/release/releases?api-version=6.0",
        "body": "",
        "status": 200,
        "response": {
            "count": 0,
            "value": []
        },
        "rawHeaders": [
            "no-cache, no-store, must-revalidate",
            "no-cache",
            "22",
            "Content-Type",
            "application/json; charset=utf-8; api-version=6.0",
            "-1",
            "CP=\"CAO DSP COR ADMa DEV CONo TELo CUR PSA PSD TAI IVDo OUR SAMi BUS DEM NAV STA UNI COM INT PHY ONL FIN PUR LOC CNT\"",
            "VstsSession=%7B%22PersistentSessionId%22%3A%22b7081180-3b35-49de-9675-cd01b2a9c486%22%2C%22PendingAuthenticationSessionId%22%3A%2200000000-0000-00[...]
